# Folders:
/venv
/__pycache__

# Files:
#.py
file_rc.py
file_rc.qrc
file_rcV3.py
file_rcV4.py
main-window-temp.py
adhesion-temp.py
adhesion.py
cancel.py
declaration.py
temp3.py
text-editor.py
tests.py
first_window_pyqt6.py

#.pdf
testes.pdf
JOAO - OURO - MMMM.pdf
#.docx
layouts_maker.docx

#.ui
main-window.ui
text-editor.ui
window-cancel.ui
window-declaration.ui
window-adhesion.ui

#.exe
Sistema Gerador de Termos.exe

#.qrc
/src/file_rc_main_window.qrc
file_rc_main_window.qrc

# pdf:
testes.pdf
